In [1]:
true=True
#true is variable
#True is a Boolean value we are storing in true

In [2]:
true

True

In [ ]:
name 'true' is not defined
name 'hyd' is not defined
name 'India' is not defined

In [4]:
n1=100
n1

100

In [6]:
#15 days our main goal
#to avoid the syntax error
type(true)

bool

In [ ]:
1) mistakes are very very common
2) avoid the syntax error
3) you will think about logic
4) 1 min === 1 hour
1st === 10th === 25th === 100th

- integer data type int
- float data typ float
- string data type str
- boolean data type bool

# Type casting

- convert one data type to another data tyype is called as type casting
- which means we wants to convert
- integer type to all other(float, str, bool) data types
- str type to all other(int, float, bool) data types
- bool type to all other(int, float, str) data types

# integer to other datatypes

int - float

In [7]:
num=100
type(num)

int

In [8]:
float_num= float(num)
type(float_num)

float

In [9]:
str_num=str(num)
type(str_num)

str

In [10]:
str_num

'100'

In [11]:
bool(num)

True

In [12]:
float(200), str(200), bool(200)

(200.0, '200', True)

In [13]:
float(-200), str(-200), bool(-200)

(-200.0, '-200', True)

In [14]:
# when integer of boolean coversation become false
bool(0)

False

# NOTE

- integer=0 then only boolean conversion becomes false
- otherwise for any positive number or any negative number it becomes True

# Float to another data type

In [15]:
int(200.5) #200
str(200.5) #'200.5'
bool(200.5) #True

True

In [16]:
int(200.5), str(200.5), bool(200.5)

(200, '200.5', True)

In [17]:
int(200.5), str(200.5), bool(0.0)

(200, '200.5', False)

# String to another data types

In [2]:
#case-1
str= 'apple'
#case-2
str1='10'
#case3
str2='10.5'

In [19]:
int('apple') #error
float('apple') #error
bool('apple') #error

ValueError: invalid literal for int() with base 10: 'apple'

In [20]:
int('10')#10
float('10')#10.0
str('10')#True

'10'

In [1]:
int('10.5')#error
float('10.5')#10.5
str('10.5')#True

ValueError: invalid literal for int() with base 10: '10.5'

In [ ]:
int('10')#pass
float('10.5')#pass
int('10.5')#fail
float('10')#pass

- float is the boss
- float of any value either it is integer in strings format
- or float in strings format will works
- but integer will worksonly for integer in strings format
- integer type casting will fail for float in strings format

In [21]:
bool('')

False

In [22]:
bool(0)

False

- empty string of boolean gives false
- false means nothing either zero or empty string

In [ ]:
#boolean to other type
True ==== int float str

In [23]:
int(True)

1

In [24]:
float(True)

1.0

In [25]:
str(True)

'True'

In [26]:
int(False)
float(False)
str(False)

'False'

In [27]:
###########################  int to other ########################
float(100)
str(100)
bool(100)

True

In [ ]:
######################  float to other #######################
int(100.5)
str(100.5)
bool(100.5)
bool(0)
##########################   str to other ##################
int('apple')#error
float('apple')#error
bool('apple')#error

int('10')#10
float('10')#10.0
bool('10')#True

int('10.5')#error
float('10.5')#10.5
bool('10.5')#True
bool('')
#############################   bool to other   ###############################3
int(False)
float(False)
str(False)


int(True)
float(True)
str(True)